
<%= div_for(comment) do %>
  <hr>
	<p>
    <%= image_tag(comment.user.image.url(:comment_user_thumb)) %>
    <strong><%= link_to comment.user.name, user_show_path(comment.user) %> </strong>  <%= time_ago_in_words(comment.created_at) %> atrás
    <% if current_user == comment.user %>
      <%= link_to "×", event_comment_path(comment.event, comment), method: :delete, :confirm => 'Tem certeza que deseja excluir esse comentário?', :disable_with => "×", :class => 'close' %><br>
    <% end %>
    <br>
    <%= h(comment.body) %>
  </p>
<% end %>