<table class="table table-condensed">   
  <thead>
    <tr>
      <td class="col-sm-4">Evento</td>
      <td class="col-sm-2">Data</td>
      <td class="col-sm-3">Local</td>
      <td class="col-sm-2">Criado por</td>
      <td class="col-sm-1">EuVous</td>
    </tr>
  </thead>

  <% object.each do |event| %>
  <tr>
    <td>
			<b><%= event.title %></b><br>
			<%= link_to image_tag(event.image.url(:events_table_thumb)), event_path(event) %>
    </td>
    <td><%= event.date %></td>
		<td><%= event.address.place %></td>
		<td><%= link_to event.user.name, user_show_path(event.user) %></td>
    <td class="text-center"><%= link_to event.attendees.count, event_path(event) %></td>
  </tr>
  <% end %>   
</table>

