<section class="row">
  <% @events.each do |event| %>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image card_evento waves-effect waves-block waves-light">
          <span class="data_evento"><%= event.date.strftime('%d %b %Y')%></span>
          <%= link_to (image_tag event.image.url(:thumb)), event, class: 'activator' %>
        </div>

        <div class="card-content">
          <span class="card-title activator"><b><%= event.title %></b></span>
          <p></p>
          <div class="chip imgUser_card">
						<%= image_tag event.user.image.url(:comment_user_thumb) %>
            <%= link_to (event.user.name), user_show_path(event.user) %>
          </div>
          <hr>
          <i class="fa fa-child fa-2x icons"></i>Eu vou
          <i class="fa fa-comment fa-2x icons icon-margin"></i> <%= event.comments.count %>
          <span class="activator icon_option icons"><i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= event.title %><i class="material-icons right">close</i></span>
					<p>Local:
						<% if event.address.place == "" %>
							<%= event.address.location %>
						<% else %>
          		<%= event.address.place %>
						<% end %>
					</p>
          <p>Comentários: <%= event.comments.count %></p>
					<p> EuVous: <%= event.attendees.count %></p>
					<p><%= truncate(strip_tags(event.description), length: 241) %></p>
        </div>
      </div>
    </div>
  <% end %>
</section>
