<%= javascript_include_tag("reg_map.js") %>

<%= simple_form_for @event, html: { multipart: true } do |f| %>
    <%= f.error_notification %>
  <div class="form-group">
		<%= f.input :title, label: 'Título', class: 'form-control' %>
  </div>
	<div class="form-group">
	  <label for="event_category">Categoria</label>
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Escolha uma categoria" },  { class: 'form-control' } %>
	</div>
  <div class="form-group">
    <%= f.input :description, label: 'Descrição', class: 'form-control' %>
  </div>
  <div class=form-group>
		<%= f.label :date, 'Data' %> 
		<%= f.date_field :date, class: 'datepicker' %>
   
		<% if @event.image.url.present? %>
			<%= image_tag @event.image.url(:form_preview) %>
		<% end %><br>
		<%= f.label :image, 'Alterar imagem'  do %>
			<%= f.file_field :image, class: 'form-control', label: false %>
			<%= f.hidden_field :image_cache %>
		<% end %>
  </div><br><br>
  <h5>Endereço</h5>
	<%= f.fields_for :address do |address_fields| %>
		<%= address_fields.label :location, 'Local' %>
		<%= address_fields.text_field :location, class: "location" %>
		<%= address_fields.hidden_field :place,  class: "place" %>
		<%= address_fields.hidden_field :lat, class: "latitude" %>
		<%= address_fields.hidden_field :lon,  class: "longitude" %>
	<% end %>
  <div id="map-container" style="width: 100%; height: 400px;">
    <div id="map" style="width: 100%; height: 400px;"></div>
  </div>
	<div class="form-group">
    <%= f.button :submit, "Confirmar", class: 'btn btn-default', style: 'width: 200px; padding:0;' %>
    <%= link_to 'Cancelar', root_url, class: 'btn btn-secondary', style: 'background-color: #e65100;' %>
	</div>
<% end %>


<script>
	$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control 
		
		// Strings and translations
		monthsFull: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
		monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
		weekdaysFull: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
		weekdays: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
		weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
		showMonthsShort: undefined,
		showWeekdaysFull: false,

		// Buttons
		today: 'Hoje',
		clear: 'Limpar',
		close: 'Fechar',

		// Accessibility labels
		labelMonthNext: 'Próximo',
		labelMonthPrev: 'Anterior',
		labelMonthSelect: 'Selecione um mês',
		labelYearSelect: 'Selecione um ano',

		// Formats
		format: 'd mmmm, yyyy',
		formatSubmit: undefined,
		hiddenPrefix: undefined,
		hiddenSuffix: '_submit',
		hiddenName: true,

		// Weekday labels
		
		
  });
</script>
