<center>
<h1>O site de eventos mais badalado.</h1>


<% if !user_signed_in? %>
	<h3>Todo mundo vem. E você?</h3>
	<br>
  <p>
		<%= link_to "#EuVou", new_user_session_path, class: 'btn btn-default', title: "Entrar", rel: 'tooltip' %>
  </p>
  <p>Ou, Entre com
  <%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %> /
  <%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %> /
</p>
<% end %>
<br>

</center>


<h2>Últimos eventos</h2>

  <div class="row">
		<% @events.each do |event| %>
				<div class="col-md-3 col-xs-6 text-center">
					<h3><%= event.title %></h3>
					<%= link_to (image_tag event.images.thumb), event, class: 'img-responsive' %>
					<h5>Data/Horário</h5>
					<h6><%= event.date.strftime("%d/%m/%Y às %I:%M") %></h6>
					Criado por <%= link_to_provider(event.user) %><br>
					<%= time_ago_in_words(event.created_at) %> atrás
         	<div>
           <% if user_signed_in? %>
						<%= link_to icon('edit'), edit_event_path(event) if event.updatable_by? current_user %><br>
						<%= link_to icon('trash'), event, method: :delete, data: { confirm: 'Are you sure?' } if event.deletable_by? current_user %><br>
          <% end %>
         	</div>
        </div>
    <% end %>
  </div>

<br>

<%= link_to 'Novo evento', new_event_path, class: "btn btn-default" %>