
<div class='event'>
  <div class='title'>
    <h3><%= @event.title %></h3>
  </div>
  <div class='row'>
    <div class='col-md-6 col-xs-6'>
      <%= image_tag @event.image.url(:event) %>
      <% if signed_in? %>
				<%= render 'eu_vou_form' %>
			<% end %>
    <div class='share'>
      <p><%= social_share_button_tag(@event.title, :image => @event.images, desc: @event.description, :popup => 'true') %></p>
    </div>
    </div>
    <div class='col-md-6 col-xs-6 info'>
			<b>Local:</b> <%= @event.address.place %> <br>
      <b>Data:</b> <%= @event.date.strftime('%d/%b/%Y') %><br>
      <b>Horário: </b>
    	<%= @event.description %><br>
			<% if @event.attendees.any? %>
				<% if @event.attendees.count == 1 %>
					<h6><b>Há <%= @event.attendees.count %> pessoa indo a este evento</b></h6>
				<% else%>
					<h6><b>Há <%= @event.attendees.count %> pessoas indo a este evento</b></h6>
				<% end%>
				<ul>
					<% @event.attendees.order(:name).each do |attendee| %>
					<li><%= link_to image_tag(attendee.image.url(:comment_user_thumb), size: '30x30'), user_show_path(attendee) %></li>
					<% end %>
				</ul>
			<% else %>
				<h6><b>Ainda não há pessoas indo a este evento</b></h6>
			<% end %>
   </div>

  </div>
  <div id="map-container" style="width: 100%; height: 400px;">
    <div id="map" style="width: 100%; height: 400px;"></div>
  </div>
  <div class='user'>
    <%= time_ago_in_words(@event.created_at) %> atrás
  </div>
</div>
<hr>
<% if @event.user == current_user %>
  <td><%= link_to 'Editar', edit_event_path(@event), class: 'btn btn-default'%></td>
	<td><%= link_to 'Remover', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
<% end %><br><br>

<div class="row">
  <h6><b>Comentários <%= @event.comments.count %></b></h6> 
</div>
<!-- add comment -->
<div class="post_comment">
  <div class='row'>
   <div class="col-md-1">
		 <% if current_user %>
		 	<%= image_tag(current_user.image.url(:comment_user_thumb)) %>
		 <% end %>
   </div>
   <div class="coll-md-9">
     <%= render 'comments/form' %>
   </div>
  </div>
</div><br>

<!-- commnts list -->
<div id='comments'>
  <%= render @event.comments.order(created_at: :desc) %>
</div> <br><br>

<%= link_to 'Voltar', events_path, class: 'btn btn-default' %><br>
  
<script>
	$(document).ready(function() {
  var mapOptions = {
		center: {lat: <%= @event.address.lat %> , lng: <%= @event.address.lon %>},
    zoom: 17,
    scrollwheel: false
  };
  var map = new google.maps.Map(document.getElementById('map'),
    mapOptions);

  var marker = new google.maps.Marker({
    map: map,
		position: mapOptions.center 
  });

    // Set the position of the marker using the place ID and location.
		marker.setVisible(true);
});

</script>



