<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>
<p>
  <strong>Images:</strong>
	<% @event.images.each do |image| %>
		<%= image.url %>
	<% end %>
</p>
<p>
  <strong>Images:</strong>
	<% @event.address.street %>
</p>
<p>
  <strong>Images:</strong>
	<% @event.address.number %>
</p>
<p>
  <strong>Images:</strong>
	<% @event.address.district %>
</p>
<p>
  <strong>Images:</strong>
	<% @event.address.zip_code %>
</p>
<p>
  <strong>Images:</strong>
	<% @event.address.city%>
</p>
<p>
  <strong>Images:</strong>
	<% @event.address.estate %>
</p>
<p>
  <strong>Images:</strong>
	<% @event.address.country %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
